@model StronglyTypedViews.Employee

<div class="display-lable">
    @Html.DisplayName("FirstName")
</div>
<div class="dispay-field">
    @Model.FirstName
</div>
<div class="display-lable">
    @Html.DisplayName("LastName")
</div>
<div class="dispay-field" >
    @Model.LastName
</div>
<div class="display-lable">
    @Html.DisplayName("Gender")
</div>
<div class="dispay-field">
    @Model.Gender
</div>
<div class="display-lable">
    @Html.DisplayName("Salary")
</div>
<div class="dispay-field">
    @Model.Gender
</div>
